version: '3.8'
services:
  app:
    build: .
    container_name: fastapi-app
    ports:
      - "8001:8001"

  nginx:
    image: nginx:latest
    container_name: fastapi-nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "81:81"
    depends_on:
      - app
